

<div>
    <% if(typeof error != 'undefined'){ %>
        <div><%= error %></div>
    <% } %>
    <% if(typeof success != 'undefined'){ %>
    <div><%= success %></div>
    <% } %>
    </div>


<form method="Post">
    <input type="hidden" name="_csrf" value="<%= csrfToken %>">
<div>
    <label for=""> Phone Number </label>
    <input type="number"  class =  "input" name="phone_number" placeholder="020*******"><br>
</div>

<div>
    <label for=""> booking date</label>
    <input type="date"   class =  "input" name="booking_date">
</div>
  
<div>
    <span > Service  </span>
    <textarea type="text" name="service"   class =  "input" placeholder=" which of our service  would you like "></textarea>
</div>


<button  type="submit" value="Submit"> submit</button>

</form>


