<h2>home page </h2>
<a href="slots/add">add slot</a>
<section class="home_page">
<div class="header">
   <!-- <img src="/images/istockphoto-122.jpg" alt="">  -->
</div>

   <div class="header_t">
       <ul class="header_ul">
   <li class="header_li"> LUXURY </li>
   <li class="header_li" > UNISEX </li>
   <li class="header_li"> SALOON & SPA </li>
       </ul>
       <p class="paragraph">a place where u can trust us with your hair and have a luxurious spa  </p>
   </div>
   <div class="text-message">
       <input type="text" class="search" placeholder="enter your search " ><button class="btn">s</button>
       <h4 class="txt-head">WHO ARE WE</h4>
</div>
       <div class="txt">We are a 100%,all natural licensed,style creating ,mind,reading,all day standing,
           shampooing,conditioning,treating giving,finger waving ,branding,wrapping,smack wearing,dye mixing,
           reality checking,bleaching,hair cutting
            texturing chemical relaxinging,floor sweeping, spritzing,hot curling,repairing,directing,miracle working <span>HARIR STYLIST</span> </div>
   
</div>
<div class="slide-2">
 <img src="/images/iphoto-1366011967-612x612.jpg">
</div>
<div class="box">

<div class="slideshow-container">

<div class="mySlides fade">
  <img  class= "slide-img" src="/images/istockphoto-1307.jpg" >
</div>

<div class="mySlides fade">
    <img class= "slide-img" src="/images/istockphoto-1312.jpg" >
  
  </div>

  <div class="mySlides fade">
    <img class= "slide-img" src="/images/photo-16.jpg" >
  </div>
  
  
<div class="mySlides fade">
  <img class= "slide-img"  src="/images/photo-15277.jpg" >
</div>


    <div class="mySlides fade">
      <img  class= "slide-img" src="/images/istockphoto-1307.jpg" >
    </div>
    
    <div class="mySlides fade">
        <img class= "slide-img" src="/images/photo-160.jpg" >
      </div>

      <div class="mySlides fade">
        <img class= "slide-img" src="/images/photo-152.jpg" >
      </div>
    
      <div class="mySlides fade">
        <img class= "slide-img" src="/images/photo-16.jpg" >
      </div>
      
      
    <div class="mySlides fade">
      <img class= "slide-img"  src="/images/photo-15277.jpg" >
    </div>
    
    <div class="mySlides fade">
      <img  class= "slide-img" src="/images/photo-12.jpg" >
    </div>
    

   <div class="mySlides fade">
  <img  class= "slide-img" src="/images/photo-1521.jpg" >
</div>
<br>

<div style="text-align:center">
  <span class="dot"></span> 
  <span class="dot"></span> 
  <span class="dot"></span> 
  <span class="dot"></span> 
  <span class="dot"></span> 
  <span class="dot"></span> 
  <span class="dot"></span> 
  <span class="dot"></span> 
  <span class="dot"></span> 
  
</div>

 

   </div>
</section>
<script src="/js/script.js"></script> 