<h2>home page </h2>
<a href="slots/add">add slot</a>
<section class="home_page">
<div class="header">
   <img src="/images/istockphoto-122.jpg" alt=""> 
</div>
   <div class="header_t">
       <ul class="header_ul">
   <li class="header_li"> LUXURY </li>
   <li class="header_li" > UNISEX </li>
   <li class="header_li"> SALOON & SPA </li>
       </ul>
       <p class="paragraph">a place where u can trust us with your hair and have a luxurious spa  </p>
   </div>


   <div class="sec-1">
    <div class="sec-1_li-h"> The SPECIALS</div> 
       <ul class="sec-1_ul">
           <li class="sec-1_li"> HAIR-CUT</li> 
           <li class="sec-1_li"> SPA</li> 
           <li class="sec-1_li"> HAIR-TREATMENT</li> 
           <li class="sec-1_li"> HAIR-DYE</li> 
           <li class="sec-1_li"> BRAIDS</li> 

       </ul>
   </div>
</section>