
<section class="body">
<img class="t" src="images/t.jpg">
    <div class="header_t">
      <ul class="header_ul">
       
    <li class="header_li"> LUXURY </li>
    <li class="header_li" > UNISEX </li>
    <li class="header_li"> SALOON & SPA </li>
      </ul>
      <p class="paragraph"> self care isn't vanity.its sanity
      </p>
    </div>
  </div>
   <div class="text-message">
       <input type="text" class="search" placeholder="enter your search " ><button class="btn">Go</button>

</div>

        <div class="txt">
        We are a 100%,all natural licensed,style creating ,mind,reading,all day standing,<br>
           shampooing,conditioning,treating giving,finger waving ,branding,wrapping,smack wearing,dye mixing,<br>
           reality checking,bleaching,hair cutting
            texturing chemical relaxinging,floor sweeping, spritzing,hot curling,repairing,<br>directing,miracle working<br> HAIR STYLIST </div>
   
</div>




  
 <div class="sec2">

<div class="slide-3">
  <img src="/images/istockphoto-x612.jpg">
 </div> 
 <div class= "box">
   <button class="box-btn"></button>
   <p class="box-txt">"YOUR HAIR  IS YOUR CROWN"<br>
   <span class="sp-txt">~luxury unisexsalon </span></p>
 </div>



 <div class="slide-4">
  <img src="/images/ia.jpg">
  </div>

<div class="spa">
  <h4 class="spa-head">
LUXURY SPA TREATMENT
</h4>
<p class="spa-p">
  Spa is the Millennium buzzword for health, 
  beauty and relaxation; it is hip in holiday-speak and a mantra for 
  the growing band of worshipers at the altar of self-preservation.
  Yet despite its current popularity in the lives of trendsetters, 
  jet setters and health fanatics everywhere, the 'spa' is not a new stop on the road to well being. 
  It is a concept as old as the hills it spring from, rewritten for the contemporary scene.

  everyday is a day for the spa. relax, indulge, enjoy, and love yourself.
</p>
</div>

<div class="slide-5">
  <img src="/images/ig.jpg">
  </div>

<div class="message-1">
  
  <div class="slideshow-container">

    <div class="mySlides fade">
        <p class="msg-txt">"you dont need therapy ,you have your hairdresser"</o>
        <p class="author"> ~John Keats</p>
      </div>
    
      <div class="mySlides fade">
      <p class="msg-txt">"Dry shampoo is like coffee,but for hair"</p>
      <p class="author"> ~John Keats</p>
    </div>
    
      <div class="mySlides fade">
        <p class="msg-txt">"Getting your hair done is like a mini vacation"</p>
        <p class="author"> ~Ernest Hemingway</p>
      </div>
      
      <div class="mySlides fade">
        <p class="msg-txt">"You deserve to be feel beautifull"</p>
        <p class="author"> ~Thomas A. Edison</p>
      </div>
    
    </div>
    <br>
    
    <div class ="dott">
      <span class="dot"></span> 
      <span class="dot"></span> 
      <span class="dot"></span> 
       <span class="dot"></span> 
    </div>
  </div>

</div>
</section>
<script src="/js/script.js"></script> 