<form method="Post"  >
    <input type="hidden" name="_csrf" value="<%= csrfToken %>">
<div>
    <label for=""> name </label>
    <input type="text" name="name" placeholder="enter phone number"><br>
</div>

    <label for=""> phone number </label>
    <input type="text" name="phone_number" placeholder="enter phone number"><br>
</div>

<div>
    <label for=""> password</label>
    <input type="text" name="password" placeholder="type in your password">
</div>
  


<button  type="submit" value="Submit"> send</button>

</form>