<form method="Post" >
    <input type="hidden" name="_csrf" value="<%= csrfToken %>">
    
    <input type="hidden" name="forcePassword" value="<%=  typeof forcePassword != 'undefined' ? forcePassword : 0 %>">
    
     <div>
    <input type="radio" name="password_action" value="forcePassword" >
    <label >force change password</label>
     </div>


    <div>
    <input type="radio" name="password_action" value="resetPassword"  checked >
    <label >Reset password <span><input type="text" value="123456" name="resetPassword"></span></label>
    </div>  
    <button type="submit">submit</button>
</form>