<form method="post">
    <input type="hidden" name="_csrf" value="<%= csrfToken %>">

    <div>
        <label>Phone Number</label>
        <input type="text" name="phone_number" required>
    </div>


  <a href="/users/login">login</a>


  <button  type="submit" value="Submit"> Submit</button>
</form>