<form method="Post">
    <input type="hidden" name="_csrf" value="<%= csrfToken %>">
<div>
    <label for=""> UserName </label>
    <input type="number" name="name" placeholder="emter your name"><br>
</div>

<div>
    <label for=""> password</label>
    <input type="date" name="password" placeholder="type in your password">
</div>
  


<button  type="submit" value="Submit"> Login</button>

</form>