

<div>
    <h2>login</h2>
    <% if (message !== 'undefined'){  %>
        <%= message %>
   <% } %>
</div>

<form method="Post"  >
    <input type="hidden" name="_csrf" value="<%= csrfToken %>">
<div>
    <label for=""> phone number </label>
    <input type="text" name="username" placeholder="enter phone number"><br>
</div>

<div>
    <label for=""> password</label>
    <input type="text" name="password" placeholder="type in your password">
</div>
  


<button  type="submit" value="Submit"> Login</button>

</form>