<div>
    <div >
        <ul> 
           
    <% if (typeof slots != 'undefined'){  %> 
        <%	slots.forEach((slot) =>{ %>
            <li> 
    <p>slot date : <%- slot.slot_date.toDateString() %></p>
    <p>quantity: <%- slot.quantity %></p>

   
    <a href="/slots/book/<%= slot._id %>">book an appointment</a>
    <% }) %>
    <%}%>
</li>
</ul>  
</div>
   
</div>